name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'adopt'

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven

    - name: Set up GPG
      run: |
        echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
        echo "default-key ${GPG_KEY_ID}" >> ~/.gnupg/gpg.conf
      env:
        GPG_KEY_ID: ${{ secrets.GPG_KEY_ID }}

    - name: Build and release
      run: |
        TAG_NAME=${GITHUB_REF#refs/tags/v}
        mvn release:prepare release:perform -B \
          -DreleaseVersion=${TAG_NAME}
      env:
        GPG_TTY: ${{ secrets.GPG_TTY }}
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}